.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    
}
@media ( min-width:200px) {
    .main{
      
      grid-template-columns: 1fr  ;
    }
    
  }
  
  @media ( min-width:550px) {
    .main{
      
      grid-template-columns: 1fr 1fr ;
    }
    
  }
  @media ( min-width:550px) and (min-width:900px) {
  
    .main{
      
      grid-template-columns: 1fr 1fr 1fr;
    }
    
  }
  
 
.thumbnail-container{
    position: relative;
    z-index: 0;
    cursor: pointer
}
.video-time{
    font-family: roboto,arial;
    font-size: 12px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 4px;
    font-weight: 500;
  
  }
.video-preview{
    
   
}
.video-link{
    opacity: 0;
}
.thumbnail{
    width: 100%;
    border-radius: 10px;

}
.video-info-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
    cursor: pointer;
    position: relative;
    
}
.channel-profile{
    height: 40px;
}
.channel-image{
    height: 36px;
    border-radius: 18px;
}
.video-info{
    margin-left: 8px;
}
.video-stats{
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    margin: 0;
    margin-bottom: 8px;
    
}
.video-author{
    font-size: 14px;
    color: rgb(96, 96, 96);
    font-weight: 400;
    margin: 0;
    line-height: 20px;
}
.video-views{
    font-size: 14px;
    color: rgb(96, 96, 96);
    font-weight: 400;
    margin: 4px;
    padding-left: -4px;
    margin: 0;
    margin-top: 5px;
    
}
